h2 {
	background-color:blue;
	border:2px solid black;
}
h3 {
	background-color:yellow;
	border:2px solid blue;
}
h4 {
	background-color:red;
}
a {
	text-decoration:none;
}
a:link {
	color:#00FF00
}
a:visited {
	color:#00FF00
}
a:hover {
	color:#FFFFFF
}
#menu {
	width:30%;
}
#content {
	width:70%;
}
